.car-content {
  display: flex;
  flex-direction: column;
}

aside {
  /* border: 1px solid black; */
  position: fixed;
  top: 150px;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  z-index: 10;
}

aside ul {
  width: 100%;
  background-color: orange;
  transition: all 0.3s ease-in-out;
}

aside ul li {
  list-style: none;
  padding: 5px 0;
  color: #ffffff;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

aside > ul > li:hover {
  background: rgba(0, 0, 0, 0.7);
}


.itemWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 15px 10%;
}

.item {
    width: calc(30% - 7px);
    aspect-ratio: 6 / 5;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.imgBox {
    width: 100%;
    height: 100%;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
}

.textBox p {
    color: white;
    margin: 5px 0 0;
}

.textBox__name {
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50px);
}

.textBox__price {
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(50px);
}

.item:after {
    content: "";
    display: block;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.item:hover:after {
    opacity: 1;
}

.item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
}

.item:hover .textBox__name {
    opacity: 1;
    transform: translateY(-50px);
}

.item:hover .textBox__price {
    opacity: 1;
    transform: translateY(-50px);
}

.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
    transition: all 0.4s ease-in-out;
}

.item .textBox__price {
    transition: all 0.4s ease-in-out 0.15s;
}
