<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.rentcar">
  <resultMap id="rentcar" type="com.rentcar.vo.Rentcar">
  <id property="num" column="num" />
  <result property="name" column="name" />
  <result property="category" column="category" />
  <result property="price" column="price" />
  <result property="usepeople" column="usepeople" />
  <result property="company" column="company" />
  <result property="img" column="img" />
  <result property="info" column="info" />
</resultMap>

	<select id="getAllRentcar" resultMap="rentcar">
	  select * from rentcar order by num desc
	</select>
	
	<select id="getRecentCarList" resultMap="rentcar">
	  select * from rentcar where usepeople > 0 order by num desc limit 6
	</select>
	
		<select id="getKindCarList" resultMap="rentcar" parameterType="Integer">
	  select * from rentcar where usepeople > 0 and category=#{category} order by price desc
	</select>
    <select id="getOneRentCar" parameterType="Integer" resultType="rentcar">
          select * from rentcar where num=#{num}     
    </select>

</mapper>